<!-- header -->
<header class="jumbotron header" id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 left">
        <div class="avatar">
          <%= image_tag @location.photo.url(:large), alt: 'image', class: 'img-responsive', id: 'photo' %>
        </div>
        <% if @location.creative_commons %>
          <div class="row" style="margin-top:10px;">
          <div class="col-md-4 col-md-offset-8">by <%= link_to '写真提供元', @location.author, target: '_blank'  %></div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 right">
        <h1 class="hide"></h1>
        <div class="row" style="margin-bottom:40px;margin-top:30px;">
        <div id="map" class="col-md-3 col-md-offset-3" style='width: 300px; height: 200px; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; margin-bottom:10px;'></div>
        </div>
        <h2 class="heading" id="location" style="margin-bottom:25px;"><%= @location.name %>&nbsp;<small><%= @location.address %></small></h2>
        <p id="description"><%= @location.description %></p>
          <div class="row" style="margin-top:25px;">
            <div class="col-md-offset-4 col-md-4"><%= link_to 'この場所を詳しく見る',@location.reference_url,  {class: 'btn btn-primary', id: 'refresh', method: :get, target: '_blank'} %></div>
            <div class="col-md-4"><%= link_to 'もう一回', root_path,  {class: 'btn btn-primary', id: 'refresh', method: :get} %></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->
