<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="heading text-center" id="location" style="margin-top:25px;margin-bottom:25px;"><%= @location.name %>&nbsp;<small><%= @location.address %></small></h2>
      <%= image_tag @location.photo.url(:large), alt: 'image', class: 'img-responsive', id: 'photo' %>
    </div>
  </div>
  <div class="row" style="margin-top:10px;">
    <div class="col-md-offset-4 col-md-4"><%= link_to '他の場所を見る', root_path,  {class: 'btn btn-info btn-block', method: :get, 'data-no-turbolink' => 1} %></div>
    <% if @location.creative_commons %>
      <div class="col-md-2 col-md-offset-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '写真提供元', @location.author, target: '_blank'  %></div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-offset-10 col-md-2">
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_sharing_toolbox"></div>
    </div>
  </div>

</div>
  </div>
</div>
<!-- end header -->

