<!DOCTYPE html>
<html>
<head>
<title>Zekkei</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#main-nav">
<!-- WRAPPER -->
<div class="wrapper">

  <!-- main navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" id="main-nav" role="navigation">
    <div class="container">
      <!-- brand and toggle -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>         
      </div>

      <!-- navigation links -->
      <div class="collapse navbar-collapse main-nav-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#about-me">ABOUT ME</a></li>
          <li><a href="#contacts">CONTACTS</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end main navigation -->

<%= yield %>

  <!-- footer -->
  <footer class="footer">
    <p>Copyright 2014 <%= link_to '@otukutun', 'https://twitter.com/otukutun' %>. All Rights Reserved.</p>
  </footer>
  <!-- end footer -->

</div>
<!-- END WRAPPER -->

</body>
</html>
