<!DOCTYPE html>
<html lang='ja'>
<head>
<title>絶景スイッチ~気になる絶景を見つけよう~</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= include_gon %>
<%= analytics_init if Rails.env.production? %>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<%= javascript_include_tag '//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5401c0cf500c7faa' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= csrf_meta_tags %>
</head>
<body>
<!-- main navigation -->
<nav class="navbar navbar-default navbar-fixed-top" id="main-nav" role="navigation">
  <div class="container">
    <!-- brand and toggle -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>         
      <%= link_to '絶景スイッチ', root_path, class: 'navbar-brand' %>
    </div>

  </div>
</nav>
<!-- end main navigation -->

<%= yield %>

<!-- footer -->
<footer class="container">
  <p>Copyright 2014 <%= link_to '@otukutun', 'https://twitter.com/otukutun' %>. All Rights Reserved.</p>
</footer>
<!-- end footer -->
</body>
</html>
